LABEL katos
TEXT HELP
Start the KatOS live installer.
It allows you to install KatOS or perform system maintenance (advanced).
ENDTEXT
MENU LABEL Try or Install KatOS (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-lts
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-lts.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%

# Accessibility boot option
LABEL katspeech
TEXT HELP
Start the KatOS live installer with speakup screen reader.
It allows you to install KatOS or perform system maintenance (advanced) with speech feedback.
ENDTEXT
MENU LABEL Try or Install KatOS (%ARCH%, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-lts
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-lts.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% accessibility=on
